@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-orange {
    @apply bg-orange-500 hover:bg-orange-700 text-white font-bold py-[2px] px-4 rounded;
  }
  .input-orange {
    @apply border-2 border-amber-500 rounded
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
